<% if @user.likes.empty? %>
   <div class="list-group-item">
       まだお気に入りされた投稿はありません。
   </div>
<% end %>
<h2>お気に入りした記事</h2>
  <% @user.likes.map { |f| f.article }.each do |article| %>
    <span class="user-id"><%= article.user.email %></span>
      <div class="article-image">
         <%= image_tag article.image.url %>
     </div> 
  <% end %>