// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//共通ヘッダー



//topページ
.parallax-window-top{
	min-height: 700px;
	background: transparent;
	
}
.parallax-window {
    min-height: 550px;
    background: transparent;
}
.top-title{
	width: 33.3333%;
	height: 33.3333%;
	color: #fffacd;
	font-size: 150px;
	font-family: 'Playfair Display', serif;
}
.top-sec{
	height: 280px;
	background-color: #eeeeee;
}
.page-top-scroll{
	text-align: center;
	width: 100%;
}
 #page-top {
    bottom: 20px;
    padding: 10px;
    right: 20px;
    font-size: 90%;
}
#page-top a {
    background-color: #696969;
    text-decoration: none;
    color: #fff;
    width: 150px;
    padding: 30px 0;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}

#rect {
	margin: 0 auto;
	font-size: 55px;
	padding-top: 30px;
    text-align:center;
}

.top-sec-sentences {
	width: 33.3333%;
	font-family: 'Playfair Display', serif;
}
.top-sec-sentences a {
	width: 100%;
	height: 40px;
	color: #696969;
	font-size: 45px;
	line-height: 100px;
}

.top-sec-sentence{
	width: 100%;
	font-size: 130%;
	line-heigth: 100px;
}

video {
  right: 0;
  top: 0;
  z-index: 1;
}
p {         
  font-size: 400%;
  margin: 50px;
  z-index: 2;
}
//indexページ

	.head-nav-bar{

		.head-nav{
			width: 100%;
			margin: 20px;

			li{
				width: 100%;
				list-style: none;
			}
				a{

					text-decoration: none;
				}
		}
	}	
	
	.index-title{
		color: #a9a9a9;
		font-size: 3vh;
	}
	
	.index-sub-title{
		color: white;
	}
	
	.index_thumbnail{
		overflow: scroll;   /* スクロール表示 */ 
  		width: 100px;
 		height: 400px;
		margin: 30px;
	}
	
	.btn {
    	border: none; /* Remove borders */
    	color: white; /* Add a text color */
    	padding: 14px 28px; /* Add some padding */
    	cursor: pointer; /* Add a pointer cursor on mouse-over */
	}
	
	.warning {
		background-color: #66ffcc;
	} /* Orange */

	.warning:hover {
		background: #e68a00;
	}


//article_showページ

	.show-sec{
		text-align: center;
	}

	.article_show_img{
		margin: 0 auto;
		width: 500px;
		height: auto;
	}

	.article_show_title{
		color: #696969;
	}

