// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//共通ヘッダー



//topページ
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.top-sec{
	height: 250px;
}


//indexページ

	.head-nav-bar{

		.head-nav{
			width: 100%;
			margin: 20px;

			li{
				width: 100%;
				list-style: none;
			}
				a{

					text-decoration: none;
				}
		}
	}	
	
	.index-title{
		color: #a9a9a9;
		font-size: 3vh;
	}
	
	.index-sub-title{
		color: white;
	}
	
	.index_thumbnail{
		overflow: scroll;   /* スクロール表示 */ 
  		width: 100px;
 		height: 400px;
		margin: 30px;
	}
	
	.btn {
    	border: none; /* Remove borders */
    	color: white; /* Add a text color */
    	padding: 14px 28px; /* Add some padding */
    	cursor: pointer; /* Add a pointer cursor on mouse-over */
	}
	
	.warning {
		background-color: #66ffcc;
	} /* Orange */

	.warning:hover {
		background: #e68a00;
	}


//article_showページ

	.show-sec{
		text-align: center;
	}

	.article_show_img{
		margin: 0 auto;
		width: 500px;
		height: auto;
	}

	.article_show_title{
		color: #696969;
	}

