// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//topページ
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.top-sec{
	height: 250px;
}


.navbar-default{
	width: 100%;
	position: fixed;
	z-index: 10;
}

/*render.article-form*/

.form-wrapper{
	width: 75%;
	margin: 40px auto;
	padding: 0 20px 60px;
	border-radius: 30px;
	background-color: lighten( #9e9e9e, 30%);
	box-shadow: 5px 5px;
	color: gray;
}

.create-title{
	text-align: center;
	font-family: 'Ranga', cursive;
	opacity: 0.8;
	padding: 50px 0 20px;
}

.main-article-form{
	margin: 10px auto;
}



//indexページ

	.head-nav-bar{

		.head-nav{
			width: 100%;
			margin: 20px;

			li{
				width: 100%;
				list-style: none;
			}
				a{

					text-decoration: none;
				}
		}
	}	
	
	.index-title{
		color: #a9a9a9;
		font-size: 3vh;
	}
	
	.index-sub-title{
		color: white;
	}
	
	.index_thumbnail{
		overflow: scroll;
  		width: 100px;
 		height: 400px;
		margin: 30px;
	}
	
	.btn {
    	border: none; /* Remove borders */
    	color: white; /* Add a text color */
    	padding: 14px 28px; /* Add some padding */
    	cursor: pointer; /* Add a pointer cursor on mouse-over */
	}
	
	.warning {
		background-color: #66ffcc;
	} /* Orange */

	.warning:hover {
		background: #e68a00;
	}


//article_showページ
/*吹き出し*/
.arrow_box {
	position: relative;
	padding: 5px;
	text-align: center;
	color: white;
	background: #1d1f42;
	border: 1px solid #fffaf7;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(29, 31, 66, 0);
	border-top-color: #1d1f42;
	border-width: 8px;
	margin-left: -8px;
}
.arrow_box:before {
	border-color: rgba(255, 250, 247, 0);
	border-top-color: #fffaf7;
	border-width: 9px;
	margin-left: -9px;
}

.show_side-username{
	font-size: 25px;
}
.show_side-article{
	pading: 18px 10x;

	.show_side-info{
		padding: 7px 0;
		font-size: 15px;
	}
}

.show_body{
	width: 90%;
	margin: 10px auto;

	.show_body-title{
		padding: 0 5px 15px;
		margin-top: 0;
		color: black;
		font-weight: bold;	
	}
	.cre-time{
		padding: 5px;
		color: white;
		background: #1d1f42;
		border: 1px solid #5a4498;
	}
	.show_article-img{
		padding: 15px 0;
	}
	.show_body-body{
		border-top: solid #e6e6e6 4px;
		border-bottom: solid #e6e6e6 4px;
		height: 900px;
		overflow: scroll;

		.body-body{
			width: 95%;
			margin: 10px auto;
		}
	}
}







